.top_sec {
  height: 30rem;
  display: grid;
  background-size: cover;
  background-position: top;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(../../../public/images/poster1.png);
}

.top_sec .left,
.top_sec .right {
  background-color: rgba(0, 0, 0, 0.75);
}

.top_sec .left {
  display: flex;
  align-items: flex-end;
}

.item {
  cursor: pointer;
  transition: transform 300ms ease 100ms;
}

.item:hover {
  transform: scale(1.25) !important;
}
